#
# LTCC FADC Trigger configuration for LTCC CALIBRATION
# Version 1.1  2/15/18
# LTCC slots are in EC crates
#
# Slot 18 has last 4 channels LTCC
# Slot 19, 20 are entirely LTCC
#

# TS, TDC, FADC various:
include trigger/LTCC/ltcc_calib_various.cnf

# masks :
include trigger/LTCC/ltcc_calib_masks.cnf

# threshold
include trigger/LTCC/ltcc_calib_thresholds.cnf


