# ltcc calibration: various

# Trigger Supervisor settings
TS_CRATE trig1

TS_BLOCK_LEVEL 1
TS_BUFFER_LEVEL 1

#TS_HOLDOFF 1 30 1
#TS_HOLDOFF 2 30 1
#TS_HOLDOFF 3 30 1
#TS_HOLDOFF 4 30 1

#TS_INPUT_PRESCALE 1 0
#TS_INPUT_PRESCALE 2 0
#TS_INPUT_PRESCALE 3 0
#TS_INPUT_PRESCALE 4 0
#TS_INPUT_PRESCALE 5 0
#TS_INPUT_PRESCALE 6 0

TS_GTP_INPUT_MASK 0x00000000

# ltcc 'FADC-OR' trigger from SD's
TS_INPUT_MASK 0x00000040

# first arg: 0-disable, 1-enable; second arg: prescale (15-7Hz, 7-3.5kHz, 3-60kHz)
TS_RANDOM_TRIGGER 1 5

TS_CRATE end


